$darkgray: #2d2d2d;
$moredarkgray: #3c3c3c;
$morelightgray: #616161;
$white: #fff;
$green: #4DAA8E;
$gray: #C0C0C0;
$lessdarkgray: #8F8F8F;
$blue: #37B7FF;
$lightblue: #5ECFFF;
$darkblue: #00B2FF;
$lightgray: #C9C9C9;
$litegray: #b7b7b7;
$dealerbackground: #f8f8f8;
$mainCategorieHover: #5798AC;
$black: #000;
$gold: #FFD600;
$productListButton: #0092D0;
$oldPrize: #9c9c9c;
