body{
    background: url(.././../Assets/images/background.png);
    font-family: 'Lato';
}
*{
    margin: 0;
    padding: 0;
}

*:focus
{
    outline: none;
}

.header{
    height: 95px;
}

.navbar{
    background: #fff;
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $darkgray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    z-index: 10;
    position: relative;
}

.navbarElement{
    margin-right: 50px;
}

.companyLogo a{
    font-family: 'Sunflower';
    font-weight: 500;
    font-size: 48px;
    text-decoration: none;
	background: linear-gradient(to right, #002c6d 0%, #7CB1FF 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.searchContainer{
    width: 420px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid $darkgray;

    form{
        width: 420px;
        height: 45px;
        display: flex;
    }
}

.searchText{
    width: 200px;
    height: 45px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 0;
    outline: 0;
    color: $darkgray;
    font-size: 12px;
    padding-left: 30px;
}

.searchText::placeholder{
    color: $darkgray;
}

.searchButton{
    width: 60px;
    height: 45px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 0;
    background: $darkgray;
    color: $white;
    cursor: pointer;
    font-size: 25px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightOptionsContainer{
    display: flex;
}

.rightOption{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;

    span{
        display: block;
        font-size: 14px;
        text-align: center;
    }

    .rightOptionIcon{
        font-size: 35px;
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    .twoLine{
        margin-bottom: 5px;
    }
}

.selectBox{
    width: 160px;
    height: 45px;
    border-left: 1px solid $darkgray;
    position: relative;
}

.selectButton{
    position: relative;
    display: flex;
    height: 45px;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-size: 13px;

    svg{
        color: $darkgray;
        font-size: 10px;
        transition: .2s;
    }
}

#optionViewButton{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.selectedValue{
    margin-left: 10px;
}

.options{
    width: 175px;
    height: 0;
    transition: .2s;
    background: $dealerbackground;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 2px;
    margin-top: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

label{
    font-size: 14px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;


    input{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }

    span{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s;
    }
}

label:hover span{
    background: #fff;
}

#optionViewButton:checked ~ .options{
    height: 245px;
}

#optionViewButton:checked + .selectButton svg{
    transform: rotate(180deg)!important;
}

.filter:checked ~ span{
    background: #fff;
    color: $blue;
}

.categoryContainer{
    width: 335px;
    height: 535px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: $white;

    ol > li > ul{
        display: none;
    }

    h2{
        color: $green;
        text-transform: uppercase;
        font-size: 24px;
        text-align: center;
        padding-top: 30px;
        font-weight: 600;
    }

    li{
        list-style-type: none;
    }
}

.mainCategories{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li{
        width: 72%;
        border-bottom: 1px solid $darkgray;
        padding: 18px 0 15px 0;
        font-size: 18px;
        font-weight: 600;
        position: relative;

        .mainCategoriesElement{
            padding-left: 10px;
        }
    }

    svg{
            position: absolute;
            right: 0;
            top: 36%;
            transform: translateY(-50%);
            font-size: 20px;
    }
}