body{
    background: url(.././../Assets/images/background.png);
    font-family: 'Lato';
}
*{
    margin: 0;
    padding: 0;
}

*:focus
{
    outline: none;
}

a{
    text-decoration: none;
    color: $darkgray;
}

.header{
    height: 95px;
}

.navbar{
    background: #fff;
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $darkgray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    z-index: 10;
    position: fixed;
}

.navbarElement{
    margin-right: 50px;
}

.companyLogo a{
    font-family: 'Sunflower';
    font-weight: 500;
    font-size: 48px;
    text-decoration: none;
	background: linear-gradient(to right, #002c6d 0%, #7CB1FF 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.searchContainer{
    width: 420px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid $darkgray;

    form{
        width: 420px;
        height: 45px;
        display: flex;
    }
}

.searchText{
    width: 200px;
    height: 45px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 0;
    outline: 0;
    color: $darkgray;
    font-size: 12px;
    padding-left: 30px;
}

.searchText::placeholder{
    color: $darkgray;
}

.searchButton{
    width: 60px;
    height: 45px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 0;
    background: $darkgray;
    color: $white;
    cursor: pointer;
    font-size: 25px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.searchButton:hover{
    background: #000;
}

.rightOptionsContainer{
    display: flex;
}

.rightOption{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;

    span{
        display: block;
        font-size: 14px;
        text-align: center;
    }

    .rightOptionIcon{
        font-size: 35px;
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    .twoLine{
        margin-bottom: 5px;
    }
}

.rightOption:hover{
    text-decoration: underline;
}

.rightOption:nth-of-type(2){
    height: 95px;
    padding: 0 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: .2s;
    position: relative;
    transition: .2s;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    cursor:default;
}

.contactInfoContainer{
    position: absolute;
    height: 0px;
    width: 280px;
    top: 95px;
    left: -1px;
    background: $white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity .2s;
    overflow: hidden;
    height: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid $lightgray;
    opacity: 0;
    transform: scale(0);

    .contactPhone, .contactMail{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
    }

    .contactMail{
        margin-top: 30px;
    }

    .contactText{
        margin-left: 20px;

        span:first-of-type{
            font-size: 20px;
            text-align: left;
        }
    
        span:last-of-type{
            font-size: 12px;
            text-align: left;
        }
    }

    svg{
        font-size: 30px;
        margin-left: 20px;
    }
}

.rightOption:nth-of-type(2):hover{
    text-decoration: none;
    border: 1px solid $lightgray;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.rightOption:nth-of-type(2):hover::before{
    width: 100%;
    bottom: -1.5px;
    height: 3px;
    background: $white;
    content: "";
    position: absolute;
    left: 0;
    z-index: 5;
}


.rightOption:nth-of-type(2):hover .contactInfoContainer{
    opacity: 1;
    transform: scale(1);
}

.selectBox{
    width: 160px;
    height: 45px;
    border-left: 1px solid $darkgray;
    position: relative;
}

.selectButton{
    position: relative;
    display: flex;
    height: 45px;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-size: 13px;

    svg{
        color: $darkgray;
        font-size: 10px;
        transition: .2s;
    }
}

#optionViewButton{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.selectedValue{
    margin-left: 10px;
}

.options{
    width: 175px;
    height: 0;
    transition: .2s;
    background: $dealerbackground;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 2px;
    margin-top: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

label{
    font-size: 14px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;


    input{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }

    span{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s;
    }
}

label:hover span{
    background: #fff;
}

#optionViewButton:checked ~ .options{
    height: 245px;
}

#optionViewButton:checked + .selectButton svg{
    transform: rotate(180deg)!important;
}

.filter:checked ~ span{
    background: #fff;
    color: $blue;
}

.mainCategories{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    > li{
        width: 72%;
        border-bottom: 1px solid $darkgray;
        padding: 18px 0 15px 0;
        font-size: 18px;
        font-weight: 600;
        position: relative;

        .mainCategoriesElement{
            padding-left: 10px;
        }
    }

    
    > li:hover{
        border-bottom: 3px solid $mainCategorieHover;
        height: 20px;
    }

    svg{
            position: absolute;
            right: 0;
            top: 36%;
            transform: translateY(-50%);
            font-size: 20px;
            transition: .2s;
    }

    
    > li:hover svg{
        transform: rotate(180deg)!important;
    }
}

.categoryContainer{
    width: 335px;
    height: 535px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: $white;
    padding-top: 95px;

    h2{
        color: $green;
        text-transform: uppercase;
        font-size: 24px;
        text-align: center;
        padding-top: 30px;
        font-weight: 600;
    }

    li{
        list-style-type: none;
    }

    ol > li > ul{
        height: 495px;
        width: 0;
        overflow: hidden;
        transition: .2s;
        position: absolute;
        display: flex;
        background: $white;
        left: 241.2px;
        border-bottom-right-radius: 20px;
        padding-top: 40px;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 0;
        opacity: 0;
    }

    ol > li:hover > ul{
        width: 813px;
        padding-left: 47px;
        opacity: 1;
    }

    ol > li:nth-of-type(1) > ul{
        top: -79px;
    }

    ol > li:nth-of-type(2) > ul{
        top: -135px;
    }

    ol > li:nth-of-type(3) > ul{
        top: -191px;
    }

    ol > li:nth-of-type(4) > ul{
        top: -247px;
    }

    ol > li:nth-of-type(5) > ul{
        top: -303px;
    }

    ol > li:nth-of-type(6) > ul{
        top: -359px;
    }

    ol > li:nth-of-type(7) > ul{
        top: -415px;
    }

    ol > li > ul > li > ul > li{
        font-weight: 300;
        width: unset;
        height: unset;
        border: unset;
        padding: 0;
        font-size: 18px;
        margin-top: 3px;
    }

    ol > li > ul > li > ul > li:first-of-type{
        margin-top: 6px;
    }

    ol > li > ul > li{
        border: unset;
        padding: 0;
        max-width: 220px;
        margin-top: 10px;
    }

    ol > li > ul > li > a{
        width: 220px;
        font-size: 18px;
    }
}