$darkgray: #2d2d2d;
$white: #fff;
$green: #4DAA8E;
$gray: #C0C0C0;
$blue: #37B7FF;
$lightgray: #C9C9C9;
$litegray: #b7b7b7;
$dealerbackground: #f8f8f8;

@import 'core';
@import 'home';
@import 'homeFooter';